
/distribution/dev/.project
/distribution/dev/.settings
/distribution/dev/bin
/distribution/dev/.classpath
/distribution/tr-69-distrib/bin
/platform/core/api/application-api/target
/platform/core/api/clock-api/target
/platform/core/api/common/target
/platform/core/api/context-api/.project
/platform/core/api/context-api/.settings
/platform/core/api/context-api/target
/platform/core/api/context-api/.classpath
/platform/core/api/device-api/.project
/platform/core/api/device-api/.settings
/platform/core/api/device-api/target
/platform/core/api/device-api/.classpath
/platform/core/api/device-manager-api/target
/platform/core/api/environment-api/.project
/platform/core/api/environment-api/.settings
/platform/core/api/environment-api/target
/platform/core/api/environment-api/.classpath
/platform/core/api/script-api/target
/platform/core/impl/application-impl/target
/platform/core/impl/application-mock-impl/target
/platform/core/impl/clock-system-impl/target
/platform/core/impl/context-impl/target
/platform/core/impl/device-impl/target
/platform/core/impl/device-manager-impl/target
/platform/core/impl/icasa-device-model-bridge/target
/platform/core/impl/script-deployer/target
/platform/core/impl/script-interpreter/target
/platform/core/impl/simulated-environment/.project
/platform/core/impl/simulated-environment/.settings
/platform/core/impl/simulated-environment/target
/platform/core/impl/simulated-environment/.classpath
/platform/core/test/device-manager-tests/target
/platform/core/test/icasa-bridge-tests/target
/platform/core/test/test-common/target
/platform/packages/platform-core-dp/target
/platform/packages/tikitag-core-dp/target
/platform/packages/upnp-settopbox-core-dp/target