# Eclipse and IntelliJ files

*.iml
.idea
.project
.settings
.classpath

# maven folders

target
load
felix-cache

# other folders
bin
distribution/icasa-teaching-distribution/start*
distribution/icasa-teaching-distribution/debug*
distribution/icasa-dev/start*
distribution/icasa-dev/debug*