@()

@main("iCasa") {
<header>
    <!--img src="@routes.Assets.at("images/favicon.png")" alt="iCasaLogo" /-->
    <h1>iCasa Simulator</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">AppStore</a></li>
            <li><a href="#">Wiki</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>
</header>
<section>
    <article>
        <section id="map">

        </section>
    </article>
    <aside>

    </aside>
</section>
<section>
    <article>

    </article>
</section>
<footer>
    <p>Copyright LIG, ADELE team - All right reserved</p>
</footer>
}