<html>
<head>
    <link rel="stylesheet" href="/libs/css/bootstrap.css" media="screen"/>
    <script src="/libs/js/bootstrap.min.js"></script>
    <script src="/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/libs/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/assets/libs/vis.min.js"></script>
    <link href="/assets/css/vis.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/context_main.css" rel="stylesheet" type="text/css" />




    <script src="/assets/MainContext.js"></script>
    <script src="/assets/graph.js"></script>
    <script src="/assets/ContextProviderPage.js"></script>
    <script src="/assets/ContextFactoryPage.js"></script>
    <script src="/assets/ContextApplicationsPage.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active" id="ContextModelMenu"> <a href="#">Context Model</a> </li>
                <li id="ContextProvidersMenu"> <a href="#">Context Providers</a> </li>
                <li id="ContextFactoriesMenu"> <a href="#">Context Factories</a> </li>
                <li id="ContextApplicationsMenu"> <a href="#">Applications</a> </li>
            </ul>
        </div>
    </nav>

    <div id="ContextMain" class="container-fluid container-height">

        <div id="ContextModel" class="row-fluid full-height">

            <div class="col-md-4">
                <div class="jumbotron scroll">
                    <div id="stateColumn"></div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="jumbotron">
                    <div id="contextNetwork"></div>


                </div>
            </div>

        </div>

        <div id="ContextProviders" class="page jumbotron scroll">

            <div class="page-container">
                <div class="pageheader">
                    <div class="headercontent">
                        <div class="section-container">
                            <h2 class="title">Context Providers</h2>
                        </div>
                    </div>
                </div>

                <div class="pagecontents">
                    <div class="section container">
                        <div class="row">
                            <div class="col-md-12" id="providersSection">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div id="ContextFactories" class="page jumbotron scroll">

            <div class="page-container ">
                <div class="pageheader">
                    <div class="headercontent">
                        <div class="section-container">
                            <h2 class="title">Context Factories</h2>
                        </div>
                    </div>
                </div>

                <div class="pagecontents">
                    <div class="section container">
                        <div class="row">
                            <div class="col-md-12" id="factoriesSection">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="ContextApplications" class="page jumbotron scroll">

            <div class="page-container">
                <div class="pageheader">
                    <div class="headercontent">
                        <div class="section-container">
                            <h2 class="title">Applications</h2>
                        </div>
                    </div>
                </div>

                <div class="pagecontents">
                    <div class="section container">
                        <div class="row">
                            <div class="col-md-12" id="applicationsSection">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <footer class="footer navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text navbar-right">PerCom2016 - iCasa Demo - LIG Lab, France</p>
        </div>
    </footer>


</body>

</html>

