<html>
<head>
    <script src="/libs/jquery.min.js"></script>
    <link rel="stylesheet" href="/libs/css/bootstrap.css" media="screen"/>
    <script src="/libs/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/libs/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/assets/libs/vis.min.js"></script>
    <link href="/assets/css/vis.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/context_main.css" rel="stylesheet" type="text/css" />




    <script src="/assets/MainContext.js"></script>
    <script src="/assets/ContextModelPage.js"></script>
    <script src="/assets/ContextProviderPage.js"></script>
    <script src="/assets/ContextFactoryPage.js"></script>
    <script src="/assets/ApplicationPage.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <ul id= "MainMenu" class="nav navbar-nav">
                <li class="active" id="ContextModelMenu"> <a href="#">Context Model</a> </li>
                <li id="ContextFactoriesMenu"> <a href="#">Context Factories</a> </li>
                <li id="ContextProvidersMenu"> <a href="#">Context Providers</a> </li>
                <li id="ContextApplicationsMenu"> <a href="#">Applications</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a id="ContextModelDisplay" href="#" data-toggle="modal" data-target="#DisplayModal">Context Model Display</a> </li>
            </ul>
        </div>
    </nav>

    <div id="ContextMain" class="container-fluid container-height">

        <div id="ContextModel" class="row-fluid full-height">


            <div class="col-md-4">
                <div id="JumbInfo" class="jumbotron scroll">
                    <div id="ColumnInfo"></div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="jumbotron">
                    <div id="ContextNetwork"></div>


                </div>
            </div>

            <div id="DisplayModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Context Model Display</h4>
                        </div>
                        <div id="DisplayModalBody" class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id="ContextFactories" class="page jumbotron scroll">

            <div class="page-container ">
                <div class="pageheader">
                    <div class="headercontent">
                        <div class="section-container">
                            <h2 class="title">Context Factories</h2>
                        </div>
                    </div>
                </div>

                <div class="pagecontents">
                    <div class="section container">
                        <div class="row mixUI" id="factoriesSectionUI"></div>
                        <div class="row mixSection" id="factoriesSection" data-mixitup-filter="all"></div>
                    </div>
                </div>
            </div>

        </div>
        
        <div id="ContextProviders" class="page jumbotron scroll">

            <div class="page-container">
                <div class="pageheader">
                    <div class="headercontent">
                        <div class="section-container">
                            <h2 class="title">Context Providers</h2>
                        </div>
                    </div>
                </div>

                <div class="pagecontents">
                    <div class="section container">
                        <div class="row mixUI" id="providersSectionUI"></div>
                        <div class="row mixSection" id="providersSection" data-mixitup-filter="all"></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="ContextApplications" class="page jumbotron scroll">

            <div class="page-container">
                <div class="pageheader">
                    <div class="headercontent">
                        <div class="section-container">
                            <h2 class="title">Applications</h2>
                        </div>
                    </div>
                </div>

                <div class="pagecontents">
                    <div class="section container">
                        <div class="row mixUI" id="applicationsSectionUI"></div>
                        <div class="row mixSection" id="applicationsSection" data-mixitup-filter="all"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <footer class="footer navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text navbar-right">PerCom2016 - iCasa Demo - ADELE Team, LIG Lab - Grenoble, France</p>
        </div>
    </footer>


</body>

</html>

