Download
==========

iCasa Platform distribution
----------

It contains the iCasa Platform gateway without any application and without simulator.
<br/><br/>
<h3>Version=${project.version}</h3>
<br/>
<a href="http://repository-icasa.forge.cloudbees.com/${repo_path}/fr/liglab/adele/icasa/icasa.platform.distribution/${project.version}/icasa.platform.distribution-${project.version}.zip" class="btn
       btn-primary btn-large"><i class="fa-icon-download"></i>&nbsp; Download</a>

<hr/>

iCasa Teaching distribution
----------

It contains the iCasa Simulator gateway without any application and the iCasa Simulator Graphical User Interface (GUI).
<br/><br/>
<h3>Version=${project.version}</h3>
<br/>
<a href="http://repository-icasa.forge.cloudbees.com/${repo_path}/fr/liglab/adele/icasa/icasa.teaching.distribution/${project.version}/icasa.teaching.distribution-${project.version}.zip" class="btn
       btn-primary btn-large"><i class="fa-icon-download"></i>&nbsp; Download</a>

<hr/>
iCasa Teaching distribution with Applications
----------

The Light Follow Me application automates light up and down according to person presence detection.
All binary lights in a room are up if at least one person is detected in it.
It contains the iCasa Simulator gateway with the Light Follow Me application and the iCasa Simulator Graphical User Interface (GUI).
<br/><br/>
<h3>Version=${project.version}</h3>
<br/>
<a href="http://repository-icasa.forge.cloudbees.com/${repo_path}/fr/liglab/adele/icasa/icasa.teaching.distribution.with.apps/${project.version}/icasa.teaching.distribution.with.apps-${project.version}.zip" class="btn
       btn-primary btn-large"><i class="fa-icon-download"></i>&nbsp; Download</a>


