<div class="row-fluid page-header">
    <div class="title span10">
        <h1 style="text-align: center;">iCasa Apps</h1>
        <p style="text-align: center;" class="lead">Digital Home Application Development toolkit</p>
        <!--p>
            <span class="span4">&nbsp;</span>
            <a href="http://maven.dynamis-technologies.com/artifactory/adele-repos/fr/liglab/adele/icasa/icasa.teaching.distribution/${project.version}/icasa.teaching.distribution-${project.version}.zip" class="btn
       btn-primary span2 btn-large"><i class="fa-icon-download"></i>&nbsp; iCasa Simulator</a>
            <span class="span4">&nbsp;</span>
        </p-->
    </div>
</div>

<div class="span11 well">
    <div class="span4">
        <img src="index/map.png" alt="iCasa Simulator Main Interface" />
    </div>

    <div class="span6">
        <h1>&nbsp; iCasa Apps</h1>
        <p>ICasa is a digital home gateway and tools to develop digital home applications.</p>

        <p>Specifically, iCasa provides:</p>


        <ul>
        <li><strong>An execution platform:</strong> TODO.</li>
        <li><strong>Testing tools:</strong> Use iCasa-Simulator to test your applications without to setup physical environment. TODO.</li>
        <li><strong>Building tools:</strong> TODO.</li>
        </ul>

    </div>
</div>

<div class="span11 page-header">
    <h1>License</h1>
    iCasa Apps is licensed the Apache V2 license (http://www.apache.org/licenses/LICENSE-2.0.html). This project is maintained by
    <a href="http://www-adele.imag.fr/">LIG ADELE Research Group</a>.
</div>

<div class="span11 page-header">
    <h2>Powered By</h2>
    <a href="http://www.cloudbees.com/"> <img alt="Cloudbees" src="cloudbees.png" />  </a>
</div>
