<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Electricity Consumption Graph</title>
    <link rel="stylesheet" href="/assets/css/ext-all-gray.css"/>
    <script type="text/javascript" src="/assets/js/ext-all.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
</head>

<body>
<h1>Electricity Consumption Graph</h1>
Please select location :
<select name="DropDownList" id="DropDownList" onchange="changedVal(this.options[this.selectedIndex].value)">
    <option value="total">Total Consumption</option>
</select>
</body>

</html>