<html>
<head>
    <script type="text/javascript" src="/assets/libs/vis.min.js"></script>
    <link href="/assets/css/vis.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/libs/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="/assets/main.css"/>
    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 100%;
        }
        .section1 h1 {
            color: black;
            font-family: 'Bad Script', sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container-fluid mainpage">

    <div class="row section1">
        <div class="col-md-12 col-xs-12" id="intro">
            <h1>
                Context Graph View
            </h1>
        </div>
    </div>

    <div class="row section2">

        <div class="col-md-4">
            <div class="jumbotron">
                <div id="stateColumn"></div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="jumbotron">
                <div id="mynetwork"></div>
            </div>
        </div>
    </div>

</div>
<script src="/libs/jquery.min.js"></script>
<script src="/assets/gracefulWebsocket.js"></script>
<script src="/assets/graph.js"></script>
<script>
    $.ready(new function () {
        init();
    });
</script>
</body>
</html>

