.page {

    display: none;
}

.jumbotron{
    height: 80%;
}

.scroll{
    overflow-y: scroll;
}

.table{
    margin-bottom: 0;
}

.panel-title{
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

.scroll-txt{
     text-overflow: ellipsis;

     white-space: nowrap;
     overflow: hidden;
}

.scroll-txt:hover{
    text-overflow: unset;
    overflow-x: scroll;
}