.page {

    display: none;
}

.jumbotron{
    height: 80%;
    padding: 20px;
}

div#JumbInfo{
    padding: 10px;
}

div#ColumnInfo{
    margin: 0;
}

a#ContextModelDisplay{
    color: #fff;
}

.mixUI{
    margin: 10px;
}

input.search{
    margin-right: 10px;
}

.mixSection div.mix{
    display: none;
}

.mixSection div.panel {
    width : 100%;
}

.scroll{
    overflow-y: scroll;
}

.table{
    margin-bottom: 0;
}

.title{
    margin: 10px 0;
}

.panel-heading:hover, .mixLink:hover{
    cursor: pointer;
    cursor: hand;
}

.panel-title, .scroll-txt{
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

.scroll-txt:hover{
    text-overflow: unset;
    overflow-x: auto;
}

a, a:hover, a:focus{
    text-decoration: none;
}