.page {

    display: none;
}

.jumbotron{
    height: 80%;
    padding: 20px;
}

div#JumbInfo{
    padding: 10px;
}

div#ColumnInfo{
    margin: 0;
}

.scroll{
    overflow-y: scroll;
}

.table{
    margin-bottom: 0;
}

.title{
    margin: 10px 0;
}

.panel-title, .scroll-txt{
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

.scroll-txt:hover{
    text-overflow: unset;
    overflow-x: auto;
}

a, a:hover, a:focus{
    text-decoration: none;
}